*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 10px 10%;
}

/* ---------header----------- */

.header{
    background-image: url(images/banner3.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.text-align-right{
    text-align: right;
    margin-top: 150px;
    color: #fff;

}
.header-text{
    font-size: 50px;
}
.header-discription{
    font-weight: 300;
    margin: 30px 0;
    line-height: 1.5em;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: #005FAC;
}

/* ---------header close---------- */

.about-container{
    display: flex;
    margin-top: 80px;
    align-items: center;
    gap: 100px;
}
.col-1 img{
    width: 400px;
}
.about-header{
    font-size: 30px;
}
.about-discription{
    margin: 30px 0 20px;
    line-height: 1.5em;
}
.col-2 ul li{
    line-height: 1.5em;
}




