*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 10px 10%;
}

/* ---------header----------- */

.header{
    background-image: url(images/banner3.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.text-align-right{
    text-align: right;
    margin-top: 150px;
    color: #fff;

}
.header-text{
    font-size: 50px;
}
.header-discription{
    font-weight: 300;
    margin: 30px 0;
    line-height: 1.5em;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: #005FAC;
}

/* ---------header close---------- */

.about-container{
    display: flex;
    margin: 100px 0;
    align-items: center;
    gap: 100px;
}
.col-1 img{
    width: 400px;
}
.common-header{
    font-size: 40px;
}
.about-discription{
    margin: 30px 0 20px;
    line-height: 1.5em;
    color: #595858;
}
.col-2 ul li{
    line-height: 1.5em;
    color: #595858;
}

/* --------plan---------- */

.plan{
    text-align: center;
    margin-bottom: 50px;
}
.plan-container{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.col-img{
    width: 50px;
    margin-bottom: 10px;
}
.col-discription{
    color: #595858;
    font-weight: 700;
    margin: 10px 0 80px;
}
.plan-row-2{
    padding: 40px 80px;

    text-align: left;
    background-image: linear-gradient(to right, rgba(0, 95, 172,0.9), rgba(240, 246, 250, 0.284)), url(images/watch.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.plan-row-2 h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

/* ---------footer-------- */

.footer{
    background-color: #000;
    color: #fff;
    
}
.footer-container{
    display: flex;
    gap: 400px;
    margin-top: 50px;
}
.footer-col-1 h1{
    font-size: 40px;
}
.footer-col-1 p{
    font-weight: 300;
    margin: 20px 0 10px;
}
.footer-col-1 img{
    width: 30px;
    margin-left: 5px;
    margin-top: 20px;
}
.footer-col-2 h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.footer-col-2 input{
    padding: 10px 30px;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px ;
    margin-bottom: 20px;
}
.btn2{
    color: #005FAC;
    background-color: #fff;
}